.slick-slide {
  padding: 0 10px;
  text-align: center;
}

.slider-container {
  padding-bottom: 50px;
}

.image-doctor {
  border-radius: 50%;
  margin: auto;
  width: 80%;
}

.doctor-title {
  padding-top: 10px;
  padding-bottom: 15px;
}

.slick-slider {
  z-index: 10;
}
